MONGODB_USERNAME=
MONGODB_PASSWORD=
MONGODB_URI=
MONGODB_DB_NAME=loyalty

PORT=5001
NODE_ENV=development

FRONTEND_URL=http://localhost:3000

JWT_SECRET=
JWT_EXPIRES_IN=7d

ADMIN_NAME=Expendifii Admin
ADMIN_EMAIL=admin@expendifii.com
ADMIN_PASSWORD=ChangeMe123!
